<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/formacao.css">
</head>

<body>
    <h1>Formação</h1>
    <p>curso técnico integrado ao ensino médio em <b>Desenvolvimento de Sistemas</b> (DS), destacando-se em seu Projeto
        Integrador ao desenvolver um sistema para organizar jogos internos da escola. Atualmente, é graduando em <b>Análise
            e Desenvolvimento de Sistemas</b>  (ADS) na Faculdade Senac, beneficiado com uma bolsa de estudos do <b>Porto Digital</b>.
        Essa formação sólida e suas experiências práticas o preparam para uma carreira promissora na área de tecnologia.
    </p>
</body>

</html>