<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/sobreMim.css">
</head>

<body>
    <h1>Sobre</h1>
    <p>
        <b>Desenvolvedor FullStack</b> de 19 anos, especializado em <b>NodeJS, JavaScript, CSS, HTML, Python e MySQL</b>, além de
        dominar frameworks como <b>React e Bootstrap</b>. Ele gerencia todo o ciclo de vida de aplicações web, desde o backend
        até o frontend, com expertise em ferramentas como MySQL WorkBench.<br>

        Fotógrafo desde criança, seu olhar criativo influencia suas interfaces, tornando-as intuitivas e visualmente
        atraentes. Com espírito autodidata e foco na resolução de problemas, ele está sempre em busca de novos desafios
        e aprendizado contínuo.
        <b> Fotografando o recife da sua forma de vê-lo</b><br>
    </p>
</body>

</html>